
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #CACFD2;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 100px;
}

#left{
    display: flex;
    align-items: center;

}
.menu-items{
    margin-left: 35px;
}
#menu{
    display: flex;
    
    
}

#menu li{
    list-style: none;
    margin-left:20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
a{
    text-decoration: none;
    font-size: 14px;
    color:black;
    padding: 5px;
    

}
.logo h1{
    font-weight: 700;
    font-size: 30px;
}
.logo:hover h1{
    color:#08346D;
    transition: 1s;
   
}

.btn{
    height: 40px;
    width: 120px;
    background-color:#CACFD2;
    border: 1px solid black;
    color:black;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn:hover{
    
    background-color:#08346D ;
    border: 1px solid #08346D;
    color:white;
    
}
.top-section{
    margin:20px 100px;
}
.top-header{
    display: flex;
    align-items: center;
}

.left-side h6 {
    font-size: 14px;
    font-weight: 100;
    color:#425062;
}
.left-side h1{
    font-size: 50px;
    font-weight: 700;
    color:#08346D;

}

.left-side p {
    color:#425062;
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 50px;
}

.mid-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-right h1{
    color: #08346D;
}

.mid-section p{
    font-size: 12px;
    color: #425062;
}


.company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.company-logo{
    width: 100px;
}

.how-works{
    margin-top:50px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}
.how-works h1{
    color: #08346D;
}
.how-works p{
    color: #425062;
    font-size: 14px;
}

.services{
    display: flex;
    margin-bottom: 100px;
}
.box{
    margin:50px
}

.box img {
    width: 150px;

}
.arrow img{
    width: 20px;
}

.arrow p{
    display: inline;
}


.center{
border:none;
background-color: #08346D;
color:#CACFD2;
}
.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.all-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:50px 100px ;
}
.product-box{
    
    width:300px;
    height: 300px;
    border-radius: 10px;
}
.product-img{
    width: 90%;
    height: 85%;
}
.product-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

#midbox{
    margin-top: 60px;
    height:250px ;
}

.price {
    color: goldenrod;
    font-size: 30px;
}
.info{
    display: flex;
    justify-content: space-between;
}

#mid-info{
    margin-top: -20px;
}